@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html,
	body {
		height: 100%;
		overflow: hidden;
		font-family: Inter, sans-serif;
		background: var(--bg-primary);
		color: var(--text-primary);
	}

	body.nweroStyle,
	html.nweroStyle {
		background: var(--background);
	}

	.header h1 {
		margin: 0;
	}
}
